:root{
  --padding-divs:5px;
  --border-divs:1px solid #ccc;
  --border-radius:5px;
  --font-size:14px;

}

.home-nav{
    margin-top: 20px;
    margin-bottom: 9px;
    padding:10px;
    background-color: rgb(169, 169, 254);
    border-radius: 4px;
}

.home-ul-nav{
    list-style: none;
    padding:var(--padding-divs);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.home-ul-nav li{
    margin: 0 10px;
    text-decoration: none;
}

.home-ul-nav li a{
    text-decoration: none;
    color: white;
}

.products_page{
   padding: var(--padding-divs);
   border: var(--border-divs);
   border-radius: var(--border-radius);
   margin-right: 5px;
   height: 15rem;
}

.products_page_p{
    font-weight: bold;
    font-size: var(--font-size);
    margin-bottom: 5px;

}

.button-pages{
    background-color: rgb(169, 169, 254);
    border:none;
    border-radius: var(--border-radius);
    padding: 12px 5px;
    margin-top: 5px;
    margin-left: 30%;
    color: white;
    font-weight: bold;
    font-size: var(--font-size);
}
.button-pages:hover{
    outline: none;
    
}

.products_page a{
    text-decoration: none;
    color: black;
}

.container-home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5rem;
}

.sales-page{
    padding: var(--padding-divs);
    border: var(--border-divs);
    border-radius: var(--border-radius);
    margin-right: 5px;
    height: 15rem;
}
.sales-page_p{
    font-weight: bold;
    font-size: var(--font-size);
    margin-bottom: 5px;
}

.sales-page a{
    text-decoration: none;
    color: black;
}
