:root{
  --padding-divs:5px;
  --border-divs:1px solid #ccc;
  --border-radius:5px;
  --font-size:14px;
}

.home-nav{
    margin-top: 20px;
    margin-bottom: 9px;
    padding:10px;
    background-color: rgb(176, 176, 178);
    border-radius: 4px;
}

.home-ul-nav{
    list-style: none;
    padding:var(--padding-divs);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-ul-nav li{
    margin: 0 10px;
    text-decoration: none;
}

.home-ul-nav li a{
    text-decoration: none;
    color: #333;
}

.button-pages{
    background-color: rgb(169, 169, 254);
    border:none;
    border-radius: var(--border-radius);
    padding: 12px 5px;
    margin-top: 5px;
    margin-left: 30%;
    color: white;
    font-weight: bold;
    font-size: var(--font-size);
}
.button-pages:hover{
    outline: none;
    
}

.products_page a{
    text-decoration: none;
    color: black;
}

.container-home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5rem;
}

.products_page{
    height: 100px;
    padding: var(--padding-divs);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-divs);
    border-radius: var(--border-radius);
}
  
.sales-page{
    height: 100px;
    padding: var(--padding-divs);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-divs);
    border-radius: var(--border-radius);
}
.sales-page_p{
    font-weight: bold;
    font-size: var(--font-size);
    margin-bottom: 5px;
}

.sales-page a{
    text-decoration: none;
    color: black;
}

.container-products{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

@media screen and (max-width: 900px){
    .container-products{
        grid-template-columns: auto auto;
        grid-gap: 0.5rem;
    }
}
    
.container-products-individual{
    width: 340px;
    display: grid;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid rgb(204, 201, 201);
  
}

.container-products-individual a{
    text-decoration: none;
    
}

.products-links{
    display: flex;
    align-items: center;
}

.a-products{
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 4px;
    margin-right: 4px;
}

.container-sale{
    width: fit-content;
    border: var(--border-divs);
    border-radius: var(--border-radius);
    padding: var(--padding-divs);
}
