{% extends "base.html" %}

{% block title %}home page {% endblock%}

{% block body %}


<h1>Welcome to the store Manager</h1>

<div class="container-home">
  <div class="products_page ">
    <p class="products_page_p"></p>
     view all th available elements in the store
   <button  type="button"class="button-pages">
     <a href="{{url_for('views.products')}}">Products</a>
   </button>
    
  </div>
  <div class="sales-page">
    <p class="sales_page_p"></p>
      Welcome to the sales page! <br />
    You can see the sales that have been made
     <button  type="button"class="btn btn-primary">
     <a href="#">Sales</a>
  </div>
  <div class="goals-store-manager">
    welcome to the goals store manager
  </div>
</div>

{% endblock %}
